.env
.env.dev
.env.prod
docker-compose.override.yml
docker-compose.override.dev.yml
docker-compose.override.prod.yml
*.pid
*.log
*.lock
/redis
/mongodb
/elasticsearch
prestashop_8.2.1/config/settings.inc.php
prestashop_8.2.1/var/cache/
prestashop_8.2.1/var/logs/
prestashop_8.2.1/var/sessions/
prestashop_8.2.1/img/tmp/
**/__pycache__/
**/*.pyc
/var/log/*
/var/tmp/*
/tmp/*
/certbot
/letsencrypt
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.bak
*.old
*.temp
*.tmp
*.tar.gz
*.zip
*.rar
